{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur eos dicta, harum nulla at incidunt minus et
            cupiditate qui! Fuga mollitia quam optio, voluptate alias excepturi, consequatur tenetur unde nihil repellat ducimus
            blanditiis officia placeat. Itaque cumque, iusto consequuntur, possimus sapiente amet pariatur deserunt ipsam alias
            ullam, et optio non error quod? Adipisci sapiente, aliquam eveniet, aliquid architecto perspiciatis iusto qui vero
            assumenda animi perferendis rem debitis possimus? Distinctio, facilis tenetur aliquam repellat sint tempora
            officiis. Vel suscipit fugit dolores rerum at similique dolorum, dolor voluptatibus consequuntur cum optio autem,
            laborum quos nostrum dignissimos assumenda aliquam voluptas eos. Voluptates, autem.</p>

            <div class="text-center">
                <a class="btn btn-secondary" href="/signin/">
                    Signin
                </a>
                <a class="btn btn-dark" href="/signup/">
                    Signup
                </a>
            </div>
        </section>

</main>
{% endblock %}